@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
    color-scheme: light;
    /* Blue as the primary color */
    --theme-bg: 210deg 50% 90%; /* Light blue background */
    --theme-link: 210deg 100% 50%; /* Vibrant blue link color */
    --theme-text: 210deg 10% 30%; /* Dark blue text color */
    --theme-accent: 210deg 50% 50%; /* Mid-tone blue accent color */
    --theme-accent-2: 210deg 10% 10%; /* Dark blue accent-2 color */
    --theme-quote: 210deg 20% 40%; /* Blueish quote color */
  }

  :root.dark {
    color-scheme: dark;
    /* Adjust dark mode colors to your preference */
    --theme-bg: 210deg 10% 10%; /* Dark blue background in dark mode */
    --theme-link: 210deg 80% 80%; /* Lighter blue link color in dark mode */
    --theme-text: 210deg 5% 90%; /* Light text color in dark mode */
    --theme-accent: 210deg 60% 70%; /* Brighter blue accent color in dark mode */
    --theme-accent-2: 210deg 10% 30%; /* Darker blue accent-2 color in dark mode */
    --theme-quote: 210deg 15% 50%; /* Adjusted quote color in dark mode */
  }

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 text-sm font-normal text-textColor antialiased;
	}
}
