---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm Ahmed, a software developer based in germany. I work as a full stack web developer building web apps, mostly around the JavaScript ecosystem.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hey there!, I'm Ahmed, a software developer based in germany. I work as a full stack web developer building web apps, mostly around the JavaScript ecosystem.
		</p>
		<p>
			Welcome to my small space of the internet, where I write and share about different topics related to the web. I'm constantly exploring new technologies, currently focusing on improving my knowledge with: Next js, Astro and other tools for web development.
		</p>
	</div>
</PageLayout>
