---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import TechBadge from "@/components/TechBadge";
import projects from "../utils/projects.json";

const technologies = [
	{
		name: "JavaScript",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/480px-JavaScript-logo.png",
		altSrc: "JavaScript Logo",
		link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
	},
	{
		name: "TypeScript",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png",
		altSrc: "TypeScript Logo",
		link: "https://www.typescriptlang.org/",
	},
	{
		name: "Node.js",
		imgSrc: "https://cdn.iconscout.com/icon/free/png-256/node-js-1174925.png",
		altSrc: "Node.js Logo",
		link: "https://nodejs.org/en/",
	},
	{
		name: "React",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png",
		altSrc: "React Logo",
		link: "https://reactjs.org/",
	},
	{
		name: "Next.js",
		imgSrc: "https://static.netify.ai/logos/v/e/r/irepry/icon.png?v=1",
		altSrc: "Next.js Logo",
		link: "https://nextjs.org/",
	},
	{
		name: "Astro",
		imgSrc: "https://bestofjs.org/logos/astro.dark.svg",
		altSrc: "Astro Logo",
		link: "https://astro.build/",
	},
	{
		name: "Tailwind CSS",
		imgSrc: "https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg",
		altSrc: "Tailwind CSS Logo",
		link: "https://tailwindcss.com/",
	},
	{
		name: "Mongo DB",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Mongodb-icon.svg/640px-Mongodb-icon.svg.png",
		altSrc: "Mongo DB Logo",
		link: "https://www.mongodb.com/",
	},
	{
		name: "PHP",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/PHP_Logo%2C_text_only.svg/640px-PHP_Logo%2C_text_only.svg.png",
		altSrc: "PHP Logo",
		link: "https://php.net/",
	},
];

import { Image } from "astro:assets";
import Ahmed from "@/assets/ahmed.jpg";
import ProjectCard from "@/components/ProjectCard";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<main>
		<div class="flex flex-col-reverse items-center justify-center md:flex-row">
			<div class="">
				<h1 class="glitch mb-1 text-3xl font-bold tracking-tight md:text-5xl">Ahmed Oublihi</h1>
				<h2 class="glitch mt-2 text-lg">
					<strong>Full Stack Web Developer</strong> | <strong
						>JavaScript Enthusiast</strong
					>, seeking a new coding journey!
				</h2>
				<p class="mt-4 text-left">
					I'm a passionate Full Stack Web Developer dedicated to crafting <strong>fast</strong
					>, <strong>modern</strong>, and user-friendly applications. With a strong focus on the <strong
						>JavaScript ecosystem</strong
					>, I bring expertise in creating <strong>efficient</strong>, <strong>elegant </strong
					>solutions.
					<br />Let's collaborate on your next project and turn ideas into <strong
						>remarkable</strong
					> software.
				</p>
			</div>
			<Image
				src={Ahmed}
				alt="Profile"
				loading="eager"
				fetchpriority="high"
				class="mb-10 ml-0 h-[120px] w-[120px] rounded-full md:mb-0 md:ml-10 md:h-[240px] md:w-[240px]"
			/>
		</div>
		<div class="my-4 flex items-center space-x-4 text-center md:text-left">
			<span class="text-sm">📍 Bremen, Germany</span>
			<span class="text-sm">🎂 30 June</span>
			<span class="text-sm">🌑🌒🌓🌔🌕🌖🌗🌘🌑</span>
		</div>
		<SocialList />
		<div class="my-10 flex items-center justify-center md:my-16">
			<div class="">
				<h2 class="text-3xl font-bold">Technologies</h2>
				<p class="mt-4 text-left">
					I like playing around and learning new programming languages, frameworks and libraries.
					These are the technologies that I love working with:
				</p>
				<div class="mt-10 grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-x-4 md:gap-y-8">
					{
						technologies.map((tech) => (
							<a href={tech.link} class="cursor-pointe">
								<TechBadge {...tech} />
							</a>
						))
					}
				</div>
			</div>
		</div>
		<div class="">
			<div class="">
				<h2 class="text-3xl font-bold mb-6">Selected Projects</h2>
				<section class="mb-24 grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3 lg:gap-5">
					{projects.slice(0, 3).map((project) => (
						<ProjectCard project={project} />
					))}
				</section>
			</div>
		</div>
		<section aria-label="Blog post list">
			<h2 class="title mb-4 text-xl">Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</PageLayout>
