---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import TechBadge from "@/components/TechBadge";
import projects from "../utils/projects.json";

const technologies = [
	{
		name: "JavaScript",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/480px-JavaScript-logo.png",
		altSrc: "JavaScript Logo",
		link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
	},
	{
		name: "TypeScript",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png",
		altSrc: "TypeScript Logo",
		link: "https://www.typescriptlang.org/",
	},
	{
		name: "Node.js",
		imgSrc: "https://cdn.iconscout.com/icon/free/png-256/node-js-1174925.png",
		altSrc: "Node.js Logo",
		link: "https://nodejs.org/en/",
	},
	{
		name: "React",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png",
		altSrc: "React Logo",
		link: "https://reactjs.org/",
	},
	{
		name: "Next.js",
		imgSrc: "https://static.netify.ai/logos/v/e/r/irepry/icon.png?v=1",
		altSrc: "Next.js Logo",
		link: "https://nextjs.org/",
	},
	{
		name: "Astro",
		imgSrc: "https://bestofjs.org/logos/astro.dark.svg",
		altSrc: "Astro Logo",
		link: "https://astro.build/",
	},
	{
		name: "Tailwind CSS",
		imgSrc: "https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg",
		altSrc: "Tailwind CSS Logo",
		link: "https://tailwindcss.com/",
	},
	{
		name: "Mongo DB",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Mongodb-icon.svg/640px-Mongodb-icon.svg.png",
		altSrc: "Mongo DB Logo",
		link: "https://www.mongodb.com/",
	},
	{
		name: "PHP",
		imgSrc:
			"https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/PHP_Logo%2C_text_only.svg/640px-PHP_Logo%2C_text_only.svg.png",
		altSrc: "PHP Logo",
		link: "https://php.net/",
	},
];

import { Image } from "astro:assets";
import Ahmed from "@/assets/ahmed.jpg";
import ProjectCard from "@/components/ProjectCard";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<main>
		<div class="flex flex-col overflow-hidden rounded-lg shadow-md">
			<div class="p-6">
				<div class="flex items-center space-x-4">
					<Image
						src={Ahmed}
						alt="Profile"
						loading="eager"
						fetchpriority="high"
						class="rounded-full"
						,
						style="aspect-ratio: 100/100; object-fit: cover;"
						height="100"
						width="100"
					/>
					<div>
						<h2 class="text-xl font-bold text-gray-900 dark:text-white">Ahmed Oublihi</h2>
						<p class="text-sm text-gray-500 dark:text-gray-300">
							Full Stack Web Developer | JavaScript Enthusiast
						</p>
					</div>
				</div>
				<div class="mt-4 space-y-2">
					<p class="mt-4 text-left">
						I'm a passionate Full Stack Web Developer dedicated to crafting <strong>fast</strong>,
						<strong>modern</strong>, and user-friendly applications. With a strong focus on the
						<strong>JavaScript ecosystem</strong>, I bring expertise in creating <strong
							>efficient</strong
						>,
						<strong>elegant</strong> solutions.
						<br />Let's collaborate on your next project and turn ideas into <strong
							>remarkable</strong
						> software.
					</p>
				</div>
				<div class="mt-6 flex space-x-3">
					<SocialList />
				</div>
				<div class="my-4 flex items-center space-x-4 text-center md:text-left">
					<span class="animate-pulse text-sm">📍 Bremen, Germany</span>
					<span class="text-sm">🎂 30 June</span>
					<span class="text-sm">🌑🌒🌓🌔🌕🌖🌗🌘🌑</span>
				</div>
			</div>
		</div>
		<div class="my-10 flex items-center justify-center md:my-16">
			<div class="">
				<h2 class="text-3xl font-bold">Technologies</h2>
				<p class="mt-4 text-left">
					I like playing around and learning new programming languages, frameworks and libraries.
					These are the technologies that I love working with:
				</p>
				<div class="mt-10 grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-x-4 md:gap-y-8">
					{
						technologies.map((tech) => (
							<a href={tech.link} class="cursor-pointe">
								<TechBadge {...tech} />
							</a>
						))
					}
				</div>
			</div>
		</div>
		<section class="mb-16">
			<h2 class="mb-6 text-3xl font-bold">Selected Projects</h2>
			<div class="mb-6 grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-2 lg:gap-5">
				{projects.slice(0, 4).map((project) => <ProjectCard project={project} />)}
			</div>
			<div class="text-center mt-12">
				<a
					href="/projects"
					class="inline-block rounded border border-blue-500 bg-blue-100 px-4 py-2 text-blue-500 transition duration-300 ease-in-out hover:bg-blue-200 hover:text-blue-700"
				>
					Explore More Projects...
				</a>
			</div>
		</section>

		<section aria-label="Blog post list">
			<h2 class="title mb-4 text-xl">Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</PageLayout>
