<svg
	fill="#29bc89"
	width="100px"
	height="100px"
	viewBox="0 0 8 8"
	class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
	style={{
		fillRule: "evenodd",
		clipRule: "evenodd",
		strokeLinejoin: "round",
		strokeMiterlimit: 2,
	}}
	transform="matrix(-1,0,0,1,0,0)"
>
	<title>Logo</title>
	<path
		id="Icons"
		x={-1024}
		y={-128}
		width={1280}
		height={800}
		style={{
			fill: "none",
		}}
		d="M-128 -16H32V84H-128V-16z"></path>
	<g id="Icons1">
		<g id="Strike"></g>
		<g id="H1"></g>
		<g id="H2"></g>
		<g id="H3"></g>
		<g id="list-ul"></g>
		<g id="hamburger-1"></g>
		<g id="hamburger-2"></g>
		<g id="list-ol"></g>
		<g id="list-task"></g>
		<g id="trash"></g>
		<g id="vertical-menu"></g>
		<g id="horizontal-menu"></g>
		<g id="sidebar-2"></g>
		<g id="Pen"></g>
		<g id="Pen1"></g>
		<g id="clock"></g>
		<g id="external-link"></g>
		<g id="hr"></g>
		<g id="info"></g>
		<g id="warning"></g>
		<g id="plus-circle"></g>
		<g id="minus-circle"></g>
		<g id="vue"></g>
		<g id="cog"></g>
		<g id="logo"></g>
		<g id="radio-check"></g>
		<g id="eye-slash"></g>
		<g id="eye"></g>
		<g id="toggle-off"></g>
		<g id="shredder"></g>
		<g id="spinner--loading--dots-"></g>
		<g id="react"></g>
		<g id="check-selected"></g>
		<path
			id="duck"
			d="M2.176 3.199s0.257 0.104 0.248 0.361c-0.009 0.258 -0.833 0.37 -0.833 1.387s1.137 1.817 2.402 1.817c1.265 0 2.984 -0.742 2.984 -2.229 0 -2.497 -0.189 -0.767 -2.159 -0.767 -0.654 0 -0.771 -0.223 -0.668 -0.351 0.489 -0.601 0.668 -2.181 -0.927 -2.181 -1.041 0.022 -1.292 0.868 -1.291 1.073 0.001 0.144 -0.15 0.193 -0.913 0.164 -0.192 0.702 1.157 0.726 1.157 0.726Zm0.471 -1.296a0.25 0.25 0 1 1 -0.25 0.25c0 -0.138 0.112 -0.25 0.25 -0.25Z"
		></path>
		<g id="turn-off"></g>
		<g id="code-block"></g>
		<g id="user"></g>
		<g id="coffee-bean"></g>
		<g id="coffee-beans">
			<g id="coffee-bean1"></g>
		</g>
		<g id="coffee-bean-filled"></g>
		<g id="coffee-beans-filled">
			<g id="coffee-bean2"></g>
		</g>
		<g id="clipboard"></g>
		<g id="clipboard-paste"></g>
		<g id="clipboard-copy"></g>
		<g id="Layer1"></g>
	</g>
</svg>
