---
interface Project {
	title: string;
	description: string;
	slug: string;
	language: string;
	link: string;
	sourceCode: string;
}

const { project } = Astro.props as { project: Project };
---

<div
	class="relative mb-4 transform rounded-lg bg-white px-2 py-6 shadow-lg transition-transform duration-300 hover:scale-105 dark:bg-gray-800"
>
	<div class="flex flex-wrap gap-2 px-6 text-lg">
		<div class="text-green flex-grow">{project.title}</div>
	</div>
	<div class="mb-6 max-h-40 overflow-y-auto px-6 py-4">
		<!-- Adjust max height as needed -->
		<p class="my-2 text-quote">{project.description}</p>
	</div>
	<div class="absolute bottom-4 left-6">
		<p class="mb-1 mt-4">
			<span class="mr-4 text-sm text-gray-400">Language:</span>
			<span
				class="rounded-full px-2 py-1 text-xs text-white bg-accent"
			>
				{project.language}
			</span>
		</p>
		<a
			class="text-accent"
			target="_blank"
			href={project.link && project.link}
		>
			{project.title}
		</a>
	</div>
</div>
